In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('credit.csv', sep=';',encoding='cp1251')

In [3]:
df.head(10)

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,living_region,monthly_income,credit_count,overdue_credit_count,open_account_flg
0,1,M,NaN,NaN,UMN,"59998,00",10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
1,2,F,NaN,MAR,UMN,"10889,00",6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
2,3,M,32.0,MAR,SPC,"10728,00",12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
3,4,F,27.0,NaN,SPC,"12009,09",12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
4,5,M,45.0,NaN,SPC,NaN,10,1.1,"0,421385",SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0
5,6,F,NaN,MAR,SPC,NaN,10,1.1,NaN,SCH,СТАВРОПОЛЬСКИЙ КРАЙ,30000.0,0.0,0.0,0
6,7,M,34.0,MAR,SPC,"10317,00",6,1.5,NaN,SCH,ОБЛ НИЖЕГОРОДСКАЯ,28000.0,3.0,0.0,0
7,8,F,26.0,UNM,SPC,"47878,00",10,1.1,"0,512525",GRD,МОСКОВСКАЯ ОБЛ,60000.0,3.0,0.0,0
8,9,M,23.0,UNM,SPC,"37577,16",12,1.6,NaN,SCH,ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА,50000.0,3.0,0.0,0
9,10,F,32.0,UNM,SPC,"26268,00",10,1.1,"0,465026",GRD,КРАЙ СТАВРОПОЛЬСКИЙ,39500.0,7.0,0.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             170746 non-null  int64
 1   gender                170746 non-null  object
 2   age                   170743 non-null  float64
 3   marital_status        170743 non-null  object
 4   job_position          170746 non-null  object
 5   credit_sum            170744 non-null  object
 6   credit_month          170746 non-null  int64
 7   tariff_id             170746 non-null  float64
 8   score_shk             170739 non-null  object
 9   education             170741 non-null  object
 10  living_region         170554 non-null  object
 11  monthly_income        170741 non-null  float64
 12  credit_count          161516 non-null  float64
 13  overdue_credit_count  161516 non-null  float64
 14  open_account_flg      170746 non-null  int64
dtypes: float64(5), int64(3), object(7)
memory usage: 19.5+ MB

Заполним NANs

In [5]:
#удаляем столбец с номером клиента (так как он незначимый)
df.drop(['living_region'], axis="columns", inplace=True)

In [6]:
# анализируем зависимую переменную: какие значения она принимает и сколько раз
zero,one = df['open_account_flg'].value_counts(dropna=False)
dnv = zero/(zero+one) #доля не выбравших кредитование в данном банке на данный момент-- 
print(f"""факт отрытия кредитного счёта в данном банке:
{zero} человек не открывали кредитный счёт,
{one} открыли счёт в данном банке
{round(dnv,2)} доля в % не выбравших""")
#

факт отрытия кредитного счёта в данном банке:
140690 человек не открывали кредитный счёт,
30056 открыли счёт в данном банке
0.82 доля в % не выбравших

In [7]:
# анализируем столбец marital_status, смотрим, какое значение в нем является самым частым 
marital_status_describe = df['marital_status'].describe()
print("==========marital_status_describe==========")
print(marital_status_describe)

print(df['marital_status'].isna().sum(), "NaN's")

==========marital_status_describe==========
count     170743
unique         5
top          MAR
freq       93954
Name: marital_status, dtype: object
3 NaN's

In [8]:
# анализируем столбец education, смотрим, какое в нем самое частое значение
education_describe = df['education'].describe()
print("==========education_describe==========")
print(education_describe)

print(df['education'].isna().sum(), "NaN's")

==========education_describe==========
count     170741
unique         5
top          SCH
freq       87537
Name: education, dtype: object
5 NaN's

In [9]:
# дозаполняем нечисловые столбцы с пропусками самыми часто встречающимися значениями
df['marital_status'].fillna('MAR', inplace=True)
df['education'].fillna('SCH', inplace=True)
print(df['marital_status'].isna().sum(), "NaN's")
print(df['education'].isna().sum(), "NaN's")

0 NaN's
0 NaN's

In [10]:
# дозаполняем числовые столбцы с пропусками медианными значениями
df['age'].fillna(df['age'].median(), inplace=True)
df['credit_count'].fillna(df['credit_count'].median(), inplace=True)
df['overdue_credit_count'].fillna(df['overdue_credit_count'].median(), inplace=True)


print(df['age'].isna().sum(), "NaN's")
print(df['credit_count'].isna().sum(), "NaN's")
print(df['overdue_credit_count'].isna().sum(), "NaN's")

0 NaN's
0 NaN's
0 NaN's

In [11]:
#меняем в столбцах 'credit_sum', 'score_shk'  запятые на точки  и преобразуем их в числовой  формат
for i in ['credit_sum', 'score_shk']:
    df[i] = df[i].str.replace(',', '.')
    df[i] = df[i].astype('float')

In [12]:
#теперь мы можем дозаполнить ставшие теперь числовыми столбцы 'credit_sum', 'score_shk' медианными значениями как и с другими 
#столбцами до этого
df['score_shk'].fillna(df['score_shk'].median(), inplace=True)
df['monthly_income'].fillna(df['monthly_income'].median(), inplace=True)
df['credit_sum'].fillna(df['credit_sum'].median(), inplace=True)

print(df['score_shk'].isna().sum(), "NaN's")
print(df['monthly_income'].isna().sum(), "NaN's")
print(df['credit_sum'].isna().sum(), "NaN's")

0 NaN's
0 NaN's
0 NaN's

In [13]:
#получилось
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170746 entries, 0 to 170745
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             170746 non-null  int64
 1   gender                170746 non-null  object
 2   age                   170746 non-null  float64
 3   marital_status        170746 non-null  object
 4   job_position          170746 non-null  object
 5   credit_sum            170746 non-null  float64
 6   credit_month          170746 non-null  int64
 7   tariff_id             170746 non-null  float64
 8   score_shk             170746 non-null  float64
 9   education             170746 non-null  object
 10  monthly_income        170746 non-null  float64
 11  credit_count          170746 non-null  float64
 12  overdue_credit_count  170746 non-null  float64
 13  open_account_flg      170746 non-null  int64
dtypes: float64(7), int64(3), object(4)
memory usage: 18.2+ MB

In [14]:
# кодируем нечисловые столбцы методом дамми-кодирования
data = pd.concat([df, 
                      pd.get_dummies(df['gender'], prefix="gender"),
                      pd.get_dummies(df['job_position'], prefix="job_position"),
                      pd.get_dummies(df['education'], prefix="education"),
                      pd.get_dummies(df['marital_status'], prefix="marital_status")],
                     axis=1)

In [15]:
data

,client_id,gender,age,marital_status,job_position,credit_sum,credit_month,tariff_id,score_shk,education,...,education_ACD,education_GRD,education_PGR,education_SCH,education_UGR,marital_status_CIV,marital_status_DIV,marital_status_MAR,marital_status_UNM,marital_status_WID
0,1,M,34.0,MAR,UMN,59998.00,10,1.60,0.461599,GRD,...,0,1,0,0,0,0,0,1,0,0
1,2,F,34.0,MAR,UMN,10889.00,6,1.10,0.461599,SCH,...,0,0,0,1,0,0,0,1,0,0
2,3,M,32.0,MAR,SPC,10728.00,12,1.10,0.461599,SCH,...,0,0,0,1,0,0,0,1,0,0
3,4,F,27.0,MAR,SPC,12009.09,12,1.10,0.461599,SCH,...,0,0,0,1,0,0,0,1,0,0
4,5,M,45.0,MAR,SPC,21229.00,10,1.10,0.421385,SCH,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170741,170742,F,27.0,UNM,SPC,64867.00,12,1.10,0.535257,GRD,...,0,1,0,0,0,0,0,0,1,0
170742,170743,F,24.0,MAR,SPC,17640.00,6,1.60,0.573287,SCH,...,0,0,0,1,0,0,0,1,0,0
170743,170744,F,31.0,UNM,SPC,27556.47,10,1.32,0.416098,GRD,...,0,1,0,0,0,0,0,0,1,0
170744,170745,F,53.0,DIV,PNA,6189.00,12,1.10,0.482595,SCH,...,0,0,0,1,0,0,1,0,0,0
170745,170746,M,49.0,MAR,SPC,12787.00,10,1.10,0.316087,GRD,...,0,1,0,0,0,0,0,1,0,0

In [16]:
#удаляем старые нечисловые столбцы, вместо них уже появились новые числовые
data.drop(['client_id','gender','job_position','education','marital_status'], axis=1, inplace=True)

In [17]:
data

,age,credit_sum,credit_month,tariff_id,score_shk,monthly_income,credit_count,overdue_credit_count,open_account_flg,gender_F,...,education_ACD,education_GRD,education_PGR,education_SCH,education_UGR,marital_status_CIV,marital_status_DIV,marital_status_MAR,marital_status_UNM,marital_status_WID
0,34.0,59998.00,10,1.60,0.461599,30000.0,1.0,1.0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,34.0,10889.00,6,1.10,0.461599,35000.0,2.0,0.0,0,1,...,0,0,0,1,0,0,0,1,0,0
2,32.0,10728.00,12,1.10,0.461599,35000.0,5.0,0.0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,27.0,12009.09,12,1.10,0.461599,35000.0,2.0,0.0,0,1,...,0,0,0,1,0,0,0,1,0,0
4,45.0,21229.00,10,1.10,0.421385,35000.0,1.0,0.0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170741,27.0,64867.00,12,1.10,0.535257,40000.0,6.0,0.0,0,1,...,0,1,0,0,0,0,0,0,1,0
170742,24.0,17640.00,6,1.60,0.573287,30000.0,1.0,0.0,0,1,...,0,0,0,1,0,0,0,1,0,0
170743,31.0,27556.47,10,1.32,0.416098,40000.0,1.0,0.0,0,1,...,0,1,0,0,0,0,0,0,1,0
170744,53.0,6189.00,12,1.10,0.482595,31000.0,2.0,0.0,0,1,...,0,0,0,1,0,0,1,0,0,0
170745,49.0,12787.00,10,1.10,0.316087,40000.0,3.0,0.0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [18]:
# указываем входы и выход модели
y = data['open_account_flg']
X = data.drop(('open_account_flg'), axis=1)

In [19]:
# формируем из набора данных тестовую и обучающую выборки
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=21)

In [20]:
# обучаем логистическую регрессию
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, y_train);

In [21]:
#считаем точность (долю правильных ответов) на тестовой выборке
print(f"{clf.score(X_test, y_test)} - skylearn точность")
print(dnv," - посчитанная в начале точность")

0.8238318906445832 - skylearn точность
0.823972450306303  - посчитанная в начале точность

In [22]:
# вычисляем метрику точности ROC-AUC (по ней оцениваются результаты конкурса)
y_pred = clf.predict_proba(X_test)[:, 1]
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.5623788230366726

In [23]:
#для логистической регрессии точность оказалась очень низкой, поэтому строим случайный лес
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 10,  max_depth=5,  random_state=21)
rfc.fit(X_train, y_train)
rfc.score (X_test, y_test)
#считаем точность (долю правильных ответов) на тестовой выборке

0.8240895833577361

In [31]:
#Теперь давайте попробуем подобрать лучшие параметры для тренеровки при помощи GridSearchCV
from sklearn.model_selection import GridSearchCV
grid_params = {'bootstrap': [True, False] + [None],
 'n_estimators': [i for i in range(10, 51, 10)] + [None]}

In [55]:
# вычисляем метрику точности ROC-AUC для случайного леса 
y_pred = rfc.predict_proba(X_test)[:, 1]
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)

0.7049651528549141

In [56]:
# случайный лес оказался гораздо лучше
# проверяем, нельзя ли улучшить логистическую регрессию, добавив полиномиальные признаки
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=2)
X_train_polynomial = pf.fit_transform(X_train)
X_test_polynomial = pf.fit_transform(X_test)

In [57]:
# обучаем логистическую регрессию с полиномиальными признаками
clf = LogisticRegression()
clf.fit(X_train_polynomial, y_train);
clf.score(X_test_polynomial, y_test)

0.8237264708982933

In [58]:
y_pred = clf.predict_proba(X_test_polynomial)[:, 1]
roc_auc_score(y_test, y_pred)

0.5613585294923754

In [ ]:
#стало не лучше
#нужно добавлять регион и использовать случайный лес
#самая наибольшая точность ROC_AUC у вычислений с случайным лесом

Теперь создадин две модели и потренеруем их случайным лесом и лог.регрессией(посмотрим так же на лучшие параметры)

In [32]:
modelParam = GridSearchCV(RandomForestClassifier(), grid_params, cv=5, n_jobs=-1)

In [33]:
modelParam.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True, False, None],
                         'n_estimators': [10, 20, 30, 40, 50, None]})

In [34]:
modelParam.best_params_

{'bootstrap': True, 'n_estimators': 40}

In [35]:
predict_1 = modelParam.best_estimator_.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

#Посчитаем accyracy на predict_1 
accuracy_score(y_test, predict_1)

0.8220866081782296

обучаем на основе логистической регрессии, пройдясь по сетке уже гиперпараметров, найдя наилучшие
Создадим вторую модель и подберём параметры

In [38]:
grid_params = {'solver': [ 'lbfgs','newton-cg', 'liblinear', 'sag', 'saga'] + [None],
'penalty': ['l1', 'l2', 'elasticnet'] + [None],
'C': [100, 10, 1.0, 0.1, 0.01] + [None]}

In [39]:
modelParam2 = GridSearchCV(LogisticRegression(), grid_params, cv=5, n_jobs=-1)

In [40]:
modelParam2.fit(X_train, y_train)

C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [100, 10, 1.0, 0.1, 0.01, None],
                         'penalty': ['l1', 'l2', 'elasticnet', None],
                         'solver': ['lbfgs', 'newton-cg', 'liblinear', 'sag',
                                    'saga', None]})

In [41]:
modelParam2.best_params_

{'C': 100, 'penalty': 'l2', 'solver': 'newton-cg'}

In [42]:
predict_2 = modelParam2.best_estimator_.predict(X_test)

In [59]:
#Посчитаем accyracy на predict_1 и predict_2
accuracy_score(y_test, predict_1)

0.8220866081782296

In [43]:
accuracy_score(y_test, predict_2)

0.8241832897988826

In [ ]:
#А так же посчитаем Precision Score и Recal Score на predict_1 и predict_2

In [44]:
precision_score(y_test, predict_1, pos_label=1, zero_division=0)

0.4778997330169089

In [45]:
precision_score(y_test, predict_2, pos_label=1, zero_division=0)

0.5630252100840336

In [46]:
recall_score(y_test, predict_1, pos_label=1, zero_division=0)

0.10711436170212765

In [49]:
recall_score(y_test, predict_2, pos_label=1, zero_division=0)

0.008909574468085107

In [50]:
grid_params = {'bootstrap': [True, False] + [None],
 'n_estimators': [i for i in range(10, 51, 10)] + [None]}

In [52]:
modelParam2.fit(X_train, y_train)

C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:477: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\scipy\optimize\linesearch.py:327: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
C:\Users\s1Sharp\anaconda3\lib\site-packages\sklearn\utils\optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [100, 10, 1.0, 0.1, 0.01, None],
                         'penalty': ['l1', 'l2', 'elasticnet', None],
                         'solver': ['lbfgs', 'newton-cg', 'liblinear', 'sag',
                                    'saga', None]})

Посмотрим на RocAuc метрику 
И сравним их

In [53]:
roc_auc_score(y_test, predict_1)

0.5410452732116912

In [54]:
roc_auc_score(y_test, predict_2)

0.5037154472371705

In [60]:
#ВЫВОД:

accuracy в среднем у всех была на уровне более 80% что хорошо, но другие метрики отличались. Логистическая регрессия с полиномиальными признаками считалась с наибольшим RocAuc >= 70, что говорит о том, что наша модель имеет право быть и довольно таки пригодна к предсказанием. Остальные же модели, близки к RocAuc >= 50, говорит о том, что модель не пригодна и ошибается с такой же частотой, что и говорит правду, что можно сравнить с броском монетки.