**Загрузить данные из файла data.csv в объект Pandas**

In [ ]:
# Ваш код здесь

**Данные представлены в виде таблицы. Вывести на печать первые 8 строк:**

In [ ]:
# Ваш код здесь

In [ ]:
Вывести статистики по датасету

In [ ]:
# Ваш код здесь

In [ ]:
Прочитать данные с учетом индекса index_col='PassengerId'

In [ ]:
# Ваш код здесь

-	PassengerId - идентификатор пассажира
-	Survival - поле в котором указано спасся человек(1) или нет (0)
-	Pclass - содержит социально-экономический статус:  
 1. высокий
 2. средний
 3. низкий

-	Name - имя пассажира
-	Sex - пол пассажира
-	Age - возраст
-	SibSp - содержит информацию о количестве родственников 2-го порядка (муж, жена, братья, сетры)
-	Parch - содержит информацию о количестве родственников на борту 1-го порядка (мать, отец, дети)
-	Ticket - номер билета
-	Fare - цена билета
-	Cabin - каюта
-	Embarked - порт посадки:
 *	C - Cherbourg
 *	Q - Queenstown
 *	S - Southampton

Можно предположить, что чем выше социальный статус, тем больше вероятность спасения. Давайте проверим это взглянув на количество спасшихся и утонувших в зависимости в разрезе классов. Для этого нужно построить следующую сводную таблицу:

In [ ]:
data.pivot_table('PassengerId', 'Pclass', 'Survived', 'count').plot(kind='bar', stacked=True)

Правда ли то, что чем выше у пассажиров их социальное положение, тем выше их вероятность спасения?

In [ ]:
# Ваш код здесь

Теперь давайте взглянем столбец с номерами кают. Можно ли использовать эти данные.

In [ ]:
# Ваш код здесь

Графически отобразите, как количество родственников влияет на факт спасения:

In [ ]:
fig, axes = plt.subplots(ncols=2)
data.pivot_table('Ваш код здесь').plot(ax=axes[0], title='SibSp')
data.pivot_table("Ваш код здесь").plot(ax=axes[1], title='Parch')

Что видно из графиков? Сколько людей имеющих больше 1 родственников спаслись?

In [ ]:
# Ваш код здесь

Рассмотрите поле Age в котором записан возраст. Посмортирите на сколько оно заполено:

In [ ]:
# Ваш код здесь

есть ли пустые значения, которые не определены. Если да, то заполните пропуски значением равным медиане по возрату из всей выборки.

In [ ]:
data.Age = # Ваш код здесь

У нас осталось разобраться с полями Ticket, Embarked, Fare, Name. Посмотрите на поле Embarked, в котором находится порт посадки и проверьте есть ли такие пассажиры у которых порт не указан:

In [ ]:
# Ваш код здесь

**Отберем пассажиров, которые сели в Cherbourg (Embarked=C) и заплатили более 180 у.е. за билет.**

In [ ]:
# Ваш код здесь

**Отсортировать этих людей по убыванию платы за билет.**

In [ ]:
# Ваш код здесь

**Пример создания признака.**

In [ ]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    else:
        return 3

In [ ]:
age_categories = [age_category(age) for age in data.Age]

In [ ]:
data['Age_category'] = age_categories

**Другой способ – через `apply`.**

In [ ]:
data['Age_category'] = data['Age'].apply(age_category)

**1. Сколько мужчин / женщин находилось на борту?**
- 412 мужчин и 479 женщин
- 314 мужчин и 577 женщин
- 479 мужчин и 412 женщин
- 577 мужчин и 314 женщин

In [ ]:
# Ваш код здесь

**2. Выведите распределение переменной `Pclass` (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?**
- 104
- 108
- 112
- 125

In [ ]:
# Ваш код здесь

**3. Каковы медиана и стандартное отклонение платежей (`Fare`)? Округлите до 2 десятичных знаков.**
- Медиана – 14.45, стандартное отклонение – 49.69
- Медиана – 15.1, стандартное отклонение – 12.15
- Медиана – 13.15, стандартное отклонение – 35.3
- Медиана – 17.43, стандартное отклонение – 39.1

In [ ]:
# Ваш код здесь

**4. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?**
- 22.7% среди молодых и 40.6% среди старых
- 40.6% среди молодых и 22.7% среди старых
- 35.3% среди молодых и 27.4% среди старых
- 27.4% среди молодых и 35.3% среди старых

In [ ]:
# Ваш код здесь

**5. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?**
- 30.2% среди мужчин и 46.2% среди женщин
- 35.7% среди мужчин и 74.2% среди женщин
- 21.1% среди мужчин и 46.2% среди женщин
- 18.9% среди мужчин и 74.2% среди женщин

In [ ]:
# Ваш код здесь

**6. Найдите самое популярное имя среди пассажиров Титаника мужского пола?**
- Charles
- Thomas
- William
- John

In [ ]:
# Ваш код здесь

**7. Сравните графически распределение стоимости билетов и возраста у спасенных и у погибших. Средний возраст погибших выше, верно?**
- Да 
- Нет

In [ ]:
# Ваш код здесь

**8. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:**
- В среднем мужчины 1-го класса старше 40 лет
- В среднем женщины 1-го класса старше 40 лет
- Мужчины всех классов в среднем старше женщин того же класса
- В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
# Ваш код здесь